doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title WebPack Test
    body
        h1 WebPack Dev Server
        button.btn-get-json(type='submit') Get POSTS
        div#json-info
        script(src='./main.js')